<!--<div class="scrollbar">
     <div class="scroll" draggable="true"   (drag)="dragStarthandler($event)"  (drop)="dragStophandler($event)"></div>
    <div class="scrollbar_bg"></div>
   
</div>-->
<!--<input id="inputRange" type="range" max="2600" step="10" (change)="showVal(value)"  (drag)="slideEvent(vlaue)" (dragstart)="DragStart(vlaue)"   (slide)="slideEvent(vlaue)"/> -->
<!--<ng2-slider skin="elegance-1" styled [styleBlock]="[
	'.range-ribbon {left:0%;width:100%;height:4px;border:solid 1px; position: absolute;top:7px;}',
	'.slider-handle {width:8px;height:18px;border:solid 1px black;position:absolute;background-color:orange}',
	'.slider.sliding {width:2px; border:none;background-color:red}'
]"
min="10"
max="100"
 value="1"
(onRangeChanged)="rangeValueChanged($event)">
</ng2-slider>-->
<!--<nouislider [config]="someRange2config" [limit]="10" [(ngModel)]="someRange2"></nouislider>-->
 