.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
	padding: 0px !important;
}
.tableWrapper
{
    padding-top: 20px;
}
.reg-title
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
table
{
	width: 100%;
}
table.employeelist {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.employeelist th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background: #ffffff; 
background: #f29e1a; /* Old browsers */
background: -moz-linear-gradient(top, #f29e1a 1%, #f0c41d 49%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f29e1a 1%,#f0c41d 49%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f29e1a 1%,#f0c41d 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29e1a', endColorstr='#f0c41d',GradientType=0 );
}
table.employeelist td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.Office-label
{
	text-align: center;
}
.office-box-con
{
    height: 50px;
    width: 80%;
    background-color: #252525;
    text-align: center;
    line-height: 2.5;
    font-size: 18px;
    color: #e0ebe5;
    margin-top: 5px;
    border: 2px solid #e0e0e0;
}
.officeemp-box-con
{
  /* background-color: #f3f1ed;*/
    padding: 10px 20px;
    border-radius: 5px;
    color:black;
}
.oficeDescription
{
     margin: 10px 10px;
    padding: 1px 10px;
	background: white;
	border: 2px solid #252525;
    box-shadow: 0 0 5px #848484;
}
.employeedetails_con
{
	border: 2px solid #252525;
    box-shadow: 0 0 5px #848484;
    margin: 10px 10px;
}
.addempBtn
{
    height: 40px;
    border: 1px;
    color: black;
    width: 150px;
    float: right;
    margin-top: 10px;
    background: transparent;
    border: 2px solid #e0d7d7;
    border: transparent;
    font-size: 30px;
}