<div class="container">
<div class="row margin_top_10">
         <div class="col-lg-3 col-md-3 Office-label" >  </div>
         <div class="col-lg-9 col-md-9"> 
             <h3>Add Holidays</h3>
             <!--<a (click)="navigateToURL('addemployee')"><button class="addempBtn">ADD EMPLOYEE</button></a>-->
             
             </div>
  </div>
  <div class="row">
        <div class="form-container">
             <form role="form" #f="ngForm" novalidate (ngSubmit)="onSubmit(f.valid)">
              
              <div class="form-group"> <!--Name-->

                <input type="text" class="form-control" placeholder="Holiday name"
                       name="hname" [(ngModel)]="holiday.name"
                       #hname="ngModel" required>
                   <small [hidden]="hname.valid || (hname.pristine && !f.submitted)" class="text-danger">
                    Holiday Name is required .
                </small>
                <!--<pre>{{name.errors | json}}</pre>-->
              </div>
             <div class="form-group">
                   <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
             </div>
             <div>
                  <form style="padding:18px;max-width:800px;" [formGroup]="form">
                    <ng-select
                            [options]="HDayoptions"
                            [multiple]="false"
                            [noFilter]=10
                            placeholder="Select one"
                            formControlName="selectSingle"
                            selected="OptionSelected($event)"
                            
                        >
                        </ng-select>
                </form>
            </div>
               
              <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
                <button class="btn btn-default">Cancel</button>
              </div>

            </form>
            <div class="text-danger"><h4>{{strMessage}}</h4></div>

        </div>
 </div>
</div>
